@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--dark-color: #0F0A0A;
	--light-color: #F5EFED;
	--accent-color: #EB5E55;
}

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

.header {
	justify-content: center;
	padding: 0 10%;
	background-color: var(--dark-color);

	.title {
		font-size: 24px;
		text-align: left;
		color: var(--light-color)
	}

	.container {
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}
}

.hero {
	justify-content: center;
	padding: 60px 0;
	background-color: var(--dark-color);

	.title {
		font-size: 48px;
		color: var(--light-color);
	}

	.subtext {
		font-size: 18px;
		color: var(--light-color);
	}

	.github {
		font-size: 14px;
		text-align: center;
		text-decoration: none;
		width: 100px;
		padding: 10px;
		border-radius: 8px;
		color: var(--light-color);
		background-color: var(--accent-color);
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-left: 10%;
		margin-right: 50%;
		padding: 10px;
	}
}